<form action="/message/edit/<%= @message.id %>" method="post">
  <input name="_method" type="hidden" value="put">
  <textarea name="message" cols="40" rows="5" ><%= @message.content %></textarea>
  <input type="submit" value="Edit"></input>
</form>
