<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Chirrup Messenger</h1>
    <div>
      <%= @message.timestamp %>: <span><%= @message.content %></span>
    </div>
    <textarea name="message" cols="40" rows="5" >
       <%= @message.content %>
    </textarea>
  </body>
</html>
