<!DOCTYPE html>
<html>
<body>

<h1>Chirrup Messenger</h2>
<form action="/message" method="post">
  <input type="text" name="content"></input>
  <input type="submit" value="Submit"</input>
</form>
<% @messages.reverse.each do |message| %>
  <div>
    <%= message.created_at %>: <a href=<%="/messages/#{message.id}"%>><%= message.content %></a>
  </div>
<% end %>

</body>
</html>
