<form action="/message" method="post">
  <input type="text" name="content"></input>
  <input type="text" name="tag"></input>
  <input type="submit" value="Submit"</input>
</form>
<% @messages.reverse.each do |message| %>
  <div id="message-#{message.id}">
    <%= message.created_at.strftime("%I:%M%p %m/%d/%Y") %>: <a href=<%="/messages/#{message.id}"%>><%= message.twenty_chars %></a>...
      <% message.tags.each do |tag| %>
        Tag: <%= tag.content %></a>
      <% end %>
  </div>
<% end %>
