<form action="/message" method="post">
  <input type="text" name="content"></input>
  <input type="text" name="tag"></input>
  <input type="submit" value="Submit"</input>
</form>
<% @messages.reverse.each do |message| %>
  <div>
    <%= message.timestamp %>: <a href=<%="/messages/#{message.id}"%>><%= message.twenty_chars  %></a>
  </div>
<% end %>
<% @tags.reverse.each do |tag| %>
  <div>
    <%= tag.content %> 
  </div>
<% end %>
