<!DOCTYPE html>
<html>
<body>

<h1>Chirrup Messenger</h2>
<form action="/message" method="post">
  <input type="text" name="message"></input>
  <input type="hidden" name="timestamp"  value=<%= Time.now %></input>
  <input type="submit" value="Submit"</input>
</form>
<h1><%= @message.text_input %></h1>
<h1><%= @message.timestamp %></h1>
</body>
</html>
