<!DOCTYPE html>
<html>
  <head></head>
    <style>
      body {
        background-color: #ffcc99;
      }
      h1 {
        background-color: #ff9933;
        font-size: 40px;
      }
      div {
        background-color: #ff9966;
      }
    </style>
  <body>
    <center>
    <h1>Chirrup Messenger</h1>
    <%= yield %>
   <img src="https://thesaurus.plus/img/synonyms/a450/chirrup.png"
      alt="Chirrup" style="width:60%;height:260px;"> </center>
  </body>
</html>
