<div>
  <%= @message.timestamp %>: <span><%= @message.content %></span>
</div>
<form action="/edit-message/<%= @message.id %>" method="get">
  <input type="submit" value="Edit"</input>
</form>
<form action="/message/delete/<%= @message.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <input type="submit" value="Delete">
</form>
