<div>
  <%= @message.timestamp %>: <span><%= @message.content %></span>
</div>
<form action="/edit-message/<%= @message.id %>" method="get">
  <input type="submit" value="Edit"</input>
</form>
<form action="/delete-message/<%= @message.id %>" method="post">
  <input type="submit" value="Delete">
</form>
